.env
video_generator/temp_chat_imgs
video_generator/temp_audio
*/venv
/node_modules
/dist
/build
/coverage
/logs
/temp
/tmp
/screenshots
/screenshots_old
/screenshots_new
*.pyc
*/venv
*/node_modules
*/__pycache__
*/__pycache__/*
video_generator/temp_frames/*
whatsapp-clone/temp_chat_imgs/*
